<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" >
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">FORTI--X </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
   
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
          Resultats
      </div>

      <li class="nav-item">
        <a class="nav-link " routerLink="/dashboard/resultat" >
            <i class="fas fa-fw fa-cog"></i>
            <span>Resultats</span>
        </a>
        
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">


    <!-- Sidebar Message -->
    <div class="sidebar-card d-none d-lg-flex">
        <img class="sidebar-card-illustration mb-2" src="assets/img/undraw_rocket.svg" alt="...">
        <p class="text-center mb-2"><strong>FORTI--X</strong> Admin dashboard</p>
   
    </div>

</ul>